# Ficheiros de ambiente com chaves secretas
.env

# Pastas Gigantes 
LogicRAG/LogicRAG_Data/
LogicRAG/track_in_kitti_test/

# Ambientes Virtuais
lrag_mac/
LogicRAG/lrag_mac/
LLaVA-SpaceSGG/llava_mac/

# Caches Python
__pycache__/
*.pyc

# Arquivos Compactados e Lixo do Mac
*.zip
*.tar.gz
.DS_Store
__MACOSX/

CONTEXTO.md